services:
  fasttracker:
    build: .
    ports:
      - "5000:5000"
    restart: unless-stopped
    working_dir: /app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
